html,body{
width: 95%;
height: 95%;
}

#mainViewContainer {
width: 100%;
height: 100%;
margin: 0px;
overflow: hidden;
}

#mainView {
width: 100%;
height: 100%;
min-height: 100%;
display: inline;
}

.thumbViewClass {
border: 1px solid #b2bec3;
position: absolute;
bottom: 0px;
left: 0px;
width: 20%;
height: 20%;
margin: 0px;
padding: 0px;
overflow: hidden;
}

#thumbView {
z-index: 110;
background: white;
}

#scopeContainer {
z-index: 120;
}

