body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  fill: black;
}
.dot {
  stroke: #000;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 130px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}